<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Properties>
        <Property name="logPath">target/logs</Property>
        <Property name="fileName">app</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level]}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %style{%d{dd-MM-yyyy HH:mm:ss}}{yellow} [%t] %c{1} - %msg%n"
                           disableAnsi="false"/>
        </Console>
        <File name="LogToFile" fileName="${logPath}/${fileName}.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%-5level] %d{dd-MM-yyyy HH:mm:ss} [%t] %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="TRACE" additivity="false">
            <AppenderRef ref="LogToConsole" level="info"/>
            <AppenderRef ref="LogToFile" level="debug"/>
        </Root>
    </Loggers>
</Configuration>