<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <variable name="logPath" value="target/logs"/>
    <variable name="fileName" value="app.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %green([%thread]) %highlight(%level) %logger{36} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logPath}/${fileName}</file>
        <append>false</append>
        <encoder>
            <pattern>%date %level [%thread] %logger{50} [%file:%line] %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="edu.reportportal" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="edu.reportportal.tests" level="warn" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>